.detail {
    padding: 80px 20px 120px 20px;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.detail h2 {
    font-size: 2rem;
}

.detail p {
    font-size: 1.5rem;
    max-width: 1000px; /* 限制文字宽度，防止太宽不好看 */
}
